* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  background: black;
  border: 2px solid white;
  color: white;
  padding: 3px;
}
.quotes-area {
  background: white;
  margin: 5% 20%;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person {
  font-size: larger;
  color: red;
  padding: 8px;
}
button {
  width: 20vh;
  background: black;
  color: white;
  font-size: smaller;
  padding: 2px;
}
